<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <header>
      {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Logo" />
      {% endif %}
      <p><a target="_blank" href="{{ site.project1 }}">SatsBridge</a>::<a target="_blank" href="{{ site.project2 }}">Standard Sats</a>::<a target="_blank" href="{{ site.project3 }}">Valet (Android)</a> </p>
      <p><a target="_blank" href="https://lncal.com/notgeld">Schedule Timeslot with Lightning</a></p>
    </header>

     <section>
        {{ content }}
     </section>
    <footer>
      <p>Reach out</p>
      <p><a target="_blank" href="{{ site.telegram }}">Telegram</a>::<a target="_blank" href="{{ site.medium }}">Medium</a>::<a target="_blank" href="{{ site.email }}">Email</a></p>
    </footer>
  </div>
</body>

</html>
